[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pylint = "*"

[packages]
gym = "==0.15.4"
pybullet = ">=2.6.0"
shapely = ">=1.6.0"
setuptools = "*"
opencv-python = "*"
matplotlib = "*"
readchar = "*"
scikit-learn = "*"

[requires]
python_version = "3.6"
